<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admins Page</title>
</head>
<body>
<p>Здесь будут администраторы назначаться</p>
<!--<form th:method="GET" th:action="@{/books}">-->
<!--    <input type="submit" value="Книги" style="margin-bottom: 5px;"/>-->
<!--</form>-->

<!--<form th:method="GET" th:action="@{/people}">-->
<!--    <input type="submit" value="Читатели" style="margin-bottom: 5px;"/>-->
<!--</form>-->

<!--<form th:method="GET" th:action="@{/admins}">-->
<!--    <input type="submit" value="Администраторы" style="margin-bottom: 5px;"/>-->
<!--</form>-->

<!--<form th:method="POST" th:action="@{/auth/logout}">-->
<!--    <input type="submit" value="Выход" style="margin-bottom: 5px;"/>-->
<!--</form>-->

</body>
</html>